<div class="container">
    <h2 class="heading">CREAR CURSO</h2>
    <form class="form" [formGroup]="createCourseForm">

        <mat-form-field class="input">
            <mat-label>Nombre Curso</mat-label>
            <input matInput formControlName="name" name="name" required required maxlength="32"
                (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description" name="description" required required maxlength="255"
                (keydown)="disallowSpecialCharacters($event)" (paste)="handlePaste($event)" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Fecha Inicio (dd-mm-yy)</mat-label>
            <input matInput formControlName="startDate" name="startDate" required required maxlength="8"
                [matDatepicker]="pickerStartDate" [min]="minDate" (keydown)="disallowSpecialCharacters($event)"
                (paste)="handlePaste($event)" />
            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Fecha Fin (dd-mm-yy)</mat-label>
            <input matInput formControlName="endDate" name="endDate" required required maxlength="8"
                [matDatepicker]="pickerEndDate" [min]="minDate" (keydown)="disallowSpecialCharacters($event)"
                (paste)="handlePaste($event)" />
            <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Estado Curso</mat-label>
            <mat-select formControlName="status" name="status" required>
                <mat-option value="Activo">Activo</mat-option>
                <mat-option value="Inactivo">Desactivo</mat-option>
                <mat-option value="En construcción">En Construccion</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button" (click)="saveNewCourse()">Crear Curso</button>
    </form>
</div>