<app-header></app-header>
  <div class="jumbotron jumbotron-fluid position-relative " style="margin-bottom: -100px;">
    <div class="container text-center my-5 py-5">
      <h1 class="text-white mt-4 mb-4">CREA CURSOS DE MANERA FACIL</h1>
      <h1 class="text-white  mb-5">PARA NUEVOS ALUMNOS</h1>
        <button type="button" class="btn btn-secondary">Crear Curso</button>
        <button type="button" class="btn btn-secondary">Mis Cursos</button>
    </div>
  </div>
  
  <!-- Courses Start -->
  <div class="container-fluid px-0 py-5">
    <div class="row mx-0 justify-content-center pt-5">
      <div class="col-lg-6">
        <div class="section-title text-center position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">CURSOS</h6>
          <h1 class="display-4">TUS CURSOS</h1>
        </div>
      </div>
    </div>
  
    <div class="row mx-0">
      <!-- Curso 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="courses-item position-relative">
            <h4 class="text-center  text-white px-3">Web design & development courses for beginners</h4>
            <div class="border-top w-100 mt-3">
              <div class="d-flex justify-content-between p-4">
                <span class="text-white"><i class="fa fa-user mr-2"></i>Instructor: Jhon Doe</span>
                <br>
                <span class="text-white"><i class="fa fa-star mr-2"></i>Calificación: 4.5 ⭐ </span>
              </div>
            </div>
            <div class=" text-center p-4">
              <a class="btn btn-secondary" href="detail.html">Inscribirse</a>
            </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="courses-item position-relative">
            <h4 class="text-center  text-white px-3">Web design & development courses for beginners</h4>
            <div class="border-top w-100 mt-3">
              <div class="d-flex justify-content-between p-4">
                <span class="text-white"><i class="fa fa-user mr-2"></i>Instructor: Jhon Doe</span>
                <br>
                <span class="text-white"><i class="fa fa-star mr-2"></i>Calificación: 4.5 ⭐ </span>
              </div>
            </div>
            <div class=" text-center p-4">
              <a class="btn btn-secondary" href="detail.html">Inscribirse</a>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="courses-item position-relative">
            <h4 class="text-center  text-white px-3">Web design & development courses for beginners</h4>
            <div class="border-top w-100 mt-3">
              <div class="d-flex justify-content-between p-4">
                <span class="text-white"><i class="fa fa-user mr-2"></i>Instructor: Jhon Doe</span>
                <br>
                <span class="text-white"><i class="fa fa-star mr-2"></i>Calificación: 4.5 ⭐ </span>
              </div>
            </div>
            <div class=" text-center p-4">
              <a class="btn btn-secondary" href="detail.html">Inscribirse</a>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="courses-item position-relative">
            <h4 class="text-center  text-white px-3">Web design & development courses for beginners</h4>
            <div class="border-top w-100 mt-3">
              <div class="d-flex justify-content-between p-4">
                <span class="text-white"><i class="fa fa-user mr-2"></i>Instructor: Jhon Doe</span>
                <br>
                <span class="text-white"><i class="fa fa-star mr-2"></i>Calificación: 4.5 ⭐ </span>
              </div>
            </div>
            <div class=" text-center p-4">
              <a class="btn btn-secondary" href="detail.html">Inscribirse</a>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="courses-item position-relative">
            <h4 class="text-center  text-white px-3">Web design & development courses for beginners</h4>
            <div class="border-top w-100 mt-3">
              <div class="d-flex justify-content-between p-4">
                <span class="text-white"><i class="fa fa-user mr-2"></i>Instructor: Jhon Doe</span>
                <br>
                <span class="text-white"><i class="fa fa-star mr-2"></i>Calificación: 4.5 ⭐ </span>
              </div>
            </div>
            <div class=" text-center p-4">
              <a class="btn btn-secondary" href="detail.html">Inscribirse</a>
            </div>
        </div>
      </div>
  
      <!-- Curso 6 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="courses-item position-relative">
            <h4 class="text-center  text-white px-3">Web design & development courses for beginners</h4>
            <div class="border-top w-100 mt-3">
              <div class="d-flex justify-content-between p-4">
                <span class="text-white"><i class="fa fa-user mr-2"></i>Instructor: Jhon Doe</span>
                <br>
                <span class="text-white"><i class="fa fa-star mr-2"></i>Calificación: 4.5 ⭐ </span>
              </div>
            </div>
            <div class=" text-center p-4">
              <a class="btn btn-secondary" href="detail.html">Inscribirse</a>
            </div>
        </div>
      </div>
  <!-- Courses End -->
  
<app-footer></app-footer>

<app-footer></app-footer>
