<app-header></app-header>

<!--header-->
<header class="main-header clearfix" role="header">
  <div class="logo">
    <a href="#"><em>Grad</em> School</a>
  </div>
  <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
  <nav id="menu" class="main-nav" role="navigation">
    <ul class="main-menu">

      <li><a>Home</a></li>
      <li><a>Políticas de Privacidad</a></li>
      <li><a>Salir</a></li>
    </ul>
  </nav>
</header>


<section class="section main-banner" id="top" data-section="section1">
  <video autoplay muted loop id="bg-video">
    <source src="assets/images/course-video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="caption">
      <h2>Inscribete a nuestros cursos!</h2>
      <div class="main-button">
        <div class="scroll-to-section"><a>Ver cursos</a></div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="features-post first-features">
      <div class="features-content">
        <h4><i class="fa fa-graduation-cap"></i>SOLICITUDES DE CUENTAS</h4>
      </div>
    </div>

  </div>
</section>


<section class="section why-us" data-section="section2">

</section>

<app-footer></app-footer>